<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
    <ion-title>Login</ion-title>
    <ion-icon class="icon-right" name="lock"></ion-icon>
        <ion-icon class="icon-right" name="">  </ion-icon>
    <ion-icon class="icon-right" name="">  </ion-icon>

    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="input.username" name="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="input.password" name="password"></ion-input>
    </ion-item>
      <ion-item>
      <ion-label>Remember Me</ion-label>
      <ion-toggle [(ngModel)]="rememberMe" value="Y"></ion-toggle>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="login()">Login</button>
    </ion-item>
  </ion-list>
</ion-content>
