<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
    <ion-title>Profile</ion-title>
    <ion-icon class="icon-right" name="person"></ion-icon>
    <ion-icon class="icon-right" name="">  </ion-icon>
    <ion-icon class="icon-right" name="">  </ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-card>
  <ion-card-header>
    {{user.firstName}} {{user.lastName}}
  </ion-card-header>

  <ion-list>
    <button ion-item>
      <ion-icon name="create" item-left></ion-icon>
      {{user.createdTxStamp | date: 'dd/MM/yyyy'}}
    </button>

  </ion-list>
</ion-card>

<ion-card>
  <ion-card-header>
    MQTT Details
  </ion-card-header>

  <ion-list>
    <button ion-item>
      <ion-icon name="globe" item-left></ion-icon>
      {{user.mqtt.serverUrl}}
    </button>
    <button ion-item>
      <ion-icon name="chatboxes" item-left></ion-icon>
      {{user.mqtt.topic}}
    </button>
    <button ion-item>
      <ion-icon name="person" item-left></ion-icon>
      {{user.mqtt.username}}
    </button>
    <button ion-item *ngIf="!showPassword">
      <ion-icon name="key" item-left></ion-icon>
      ••••••••••
      <ion-icon name="eye" item-right  (click)="seePassword()"></ion-icon>
    </button>
    <button ion-item *ngIf="showPassword">
      <ion-icon name="key" item-left></ion-icon>
      {{user.mqtt.password}}
      <ion-icon name="eye" item-right color="primary" (click)="hidePassword()"></ion-icon>
    </button>
  </ion-list>
</ion-card>
</ion-content>