<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>Global Dashboard</ion-title>
      <ion-icon class="icon-right" name="home" disabled="true"></ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-page">
    <div #graphContainer></div>
</ion-content>
