<ion-header>
    <ion-navbar>
      <ion-title>Device Schedules</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
      <ion-list>
  <ion-item-sliding *ngFor="let deviceSchedule of deviceScheduleList;">
    <ion-item>
      <ion-label>{{deviceSchedule.description}}</ion-label>
      <ion-icon *ngIf="deviceSchedule.enable == 'Y'" name="power" item-right color="primary" (click)="disableDeviceSchedule(deviceSchedule.parentJobId)"> </ion-icon>
      <ion-icon *ngIf="deviceSchedule.enable == 'N'" name="power" item-right color="dark" (click)="enableDeviceSchedule(deviceSchedule.parentJobId)"> </ion-icon>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color="danger">
        <ion-icon name="trash" (click)="deleteDeviceSchedule(deviceSchedule.parentJobId)"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
      <ion-fab bottom right>
        <button ion-fab mini (click)="newDeviceSchedule(deviceId)"><ion-icon name="add"></ion-icon></button>
        <!-- ion-fab-list>
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list -->
    </ion-fab>
  </ion-content>