<ion-header>
    <ion-navbar>
      <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>Add New Device</ion-title>
      </button>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label floating>Device Name</ion-label>
        <ion-input type="text" [(ngModel)]="input.deviceName" name="deviceId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" [(ngModel)]="input.description" name="description"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Device Type</ion-label>
          <ion-select [(ngModel)]="input.deviceTypeId" okText="Select">
            <ion-option selected="{{deviceType.deviceTypeId == 'DEVICE-SWITCH'}}" *ngFor="let deviceType of deviceTypeList;" value="{{deviceType.deviceTypeId}}">{{deviceType.description}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <button ion-button full large item-right (click)="addDevice()">Add</button>
      </ion-item>
      <ion-item>
        <button ion-button color="danger" full large item-left (click)="cancelDevice()">Cancel</button>
      </ion-item>
    </ion-list>

  </ion-content>