<ion-header>
    <ion-navbar>
      <ion-title>New Device Schedule</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label floating>Schedule Name</ion-label>
        <ion-input type="text" [(ngModel)]="input.scheduleName" name="scheduleName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="YYYY MMM DD HH:mm" max="{{maxDate}}" pickerFormat="YYYY MMM DD HH mm" useCurrentTimeAsDefaultValue="true"  [(ngModel)]="input.startDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="YYYY MMM DD HH:mm" pickerFormat="YYYY MMM DD HH mm"  [(ngModel)]="input.endDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Frequency</ion-label>
        <ion-select [(ngModel)]="input.frequency" okText="Select">
          <ion-option *ngFor="let frequency of frequencyList;" value="{{frequency.sequenceId}}">{{frequency.description}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Interval</ion-label>
        <ion-input type="number" [(ngModel)]="input.interval" name="interval"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Count</ion-label>
        <ion-input type="number" [(ngModel)]="input.count" name="count"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Action</ion-label>
        <ion-select [(ngModel)]="input.actionId" okText="Select">
          <ion-option *ngFor="let action of actionList;" value="{{action.actionId}}">{{action.description}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button ion-button full large (click)="createDeviceSchedule()">Save</button>
      </ion-item>
      <ion-item>
        <button ion-button color="danger" full large (click)="cancel()">Cancel</button>
      </ion-item>
    </ion-list>
  </ion-content>