<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear="true" full="true" item-right icon-left (click)=reconnect()>
        <ion-title>Devices</ion-title>
        <ion-icon class="icon-right" *ngIf="mqttClient.isConnected()" name="cloud-done" color="primary"></ion-icon>
        <ion-icon class="icon-right" *ngIf="!mqttClient.isConnected()" name="refresh" color="danger"></ion-icon>
        <ion-icon class="icon-right" name="">  </ion-icon>
        <ion-icon class="icon-right" name="">  </ion-icon>
      </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
<!--<ion-searchbar></ion-searchbar>-->
<ion-list>
  <ion-item-sliding *ngFor="let device of deviceList; let deviceIndex = index;">
    <ion-item>
      <ion-icon *ngIf="device.deviceTypeId == 'DEVICE-SWITCH'" name="bulb" item-left></ion-icon>
      <ion-icon *ngIf="device.deviceTypeId == 'DEVICE-TEMP'" name="thermometer" item-left></ion-icon>
      <ion-label>{{device.deviceName}}</ion-label>
      <ion-toggle id="device-{{device.deviceId}}" *ngIf="device.deviceTypeId == 'DEVICE-SWITCH'"
        checked="{{device.playload == 'ON'}}" item-right
        (ionChange)="publish(device, $event)"
        disabled="{{!mqttClient.isConnected()}}"></ion-toggle>
      <ion-label *ngIf="device.deviceTypeId == 'DEVICE-TEMP'" item-right></ion-label>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color="primary" (click)="editDevice(device.deviceId)">
        <ion-icon name="build"></ion-icon>
      </button>
      <button ion-button color="secondary" (click)="schedules(device.deviceId)">
        <ion-icon name="clock"></ion-icon>
      </button>
      <button ion-button color="danger" (click)="removeDevice(device.deviceId, device.deviceName)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-fab bottom right>
    <button ion-fab mini (click)="newDevice()"><ion-icon name="add"></ion-icon></button>
    <!-- ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list -->
  </ion-fab>
</ion-content>
