<ion-menu [content]="content">

  <ion-header>
    <ion-navbar >
      <ion-title>Menus</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list inset>
      <button ion-item item-right icon-left *ngFor="let p of pages" (click)="openPage(p)" [hidden]="!p.visible">
        <ion-icon class="icon-right" name="{{p.icon}}"></ion-icon>    {{p.title}}
      </button>
      <button ion-item item-right icon-left (click)="logout()" [hidden]="!loggedIn">
        <ion-icon class="icon-right" name="log-out"></ion-icon>    Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
